# Configuration file

Abyssalnite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xc8aaf1
    D:energy=1.0
    S:extra=Abyssalnite
}


Adamantine {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x930b0b
    D:energy=1.0
    S:extra=Adamantine
}


Alduorite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x79d3d3
    D:energy=1.0
    S:extra=Alduorite
}


Aluminium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xf2f2f2
    D:energy=1.0
    S:extra=Iron
}


Aluminum {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xeaf2fc
    D:energy=1.0
    S:extra=Aluminum
}


Ardite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=2.0
    S:colour=0xf75100
    D:energy=3.0
    S:extra=Gold
}


AstralSilver {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x93b2b4
    D:energy=1.0
    S:extra=AstralSilver
}


Atlarus {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xb49e00
    D:energy=1.0
    S:extra=Atlarus
}


Carmot {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xd7c668
    D:energy=1.0
    S:extra=Carmot
}


Ceruclase {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x4d8ea8
    D:energy=1.0
    S:extra=Ceruclase
}


Cobalt {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=2.0
    S:colour=0x1b6edd
    D:energy=3.0
    S:extra=Iron
}


Copper {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xe87023
    D:energy=1.0
    S:extra=Iron
}


Coralium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xa0edd0
    D:energy=1.0
    S:extra=Coralium
}


Custom {
    # Add custom metals.
    #  Example: Platinum-0x5cc9e8-dustTiny
    S:custom=

    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


DeepIron {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x516576
    D:energy=1.0
    S:extra=DeepIron
}


ElnTungsten {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x463d37
    D:energy=1.0
    S:extra=ElnTungsten
}


Endium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x2a233e
    D:energy=1.0
    S:extra=Endium
}


Eximite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x795a90
    D:energy=1.0
    S:extra=Eximite
}


FzDarkIron {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x5a00a8
    D:energy=1.0
    S:extra=FzDarkIron
}


Gold {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xffed3e
    D:energy=1.0
    S:extra=Iron
}


Ignatius {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xffb12d
    D:energy=1.0
    S:extra=Ignatius
}


Infuscolium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x822550
    D:energy=1.0
    S:extra=Infuscolium
}


Iron {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xc0c0c0
    D:energy=1.0
    S:extra=Gold
}


Kalendrite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xa557b9
    D:energy=1.0
    S:extra=Kalendrite
}


Lead {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x797d7a
    D:energy=1.0
    S:extra=Gold
}


Lemurite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xfafafa
    D:energy=1.0
    S:extra=Lemurite
}


Magnesium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xddd6cf
    D:energy=1.0
    S:extra=Magnesium
}


Manganese {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xfff4f4
    D:energy=1.0
    S:extra=Manganese
}


Meutoite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x54485e
    D:energy=1.0
    S:extra=Meutoite
}


Midasium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xffa21e
    D:energy=1.0
    S:extra=Midasium
}


Mithril {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x48e0eb
    D:energy=1.0
    S:extra=Mithril
}


Nickel {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xffffe6
    D:energy=1.0
    S:extra=Nickel
}


Orichalcum {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x4e6c37
    D:energy=1.0
    S:extra=Orichalcum
}


Osmium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xdeedff
    D:energy=1.0
    S:extra=Osmium
}


Oureclase {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xbc6618
    D:energy=1.0
    S:extra=Oureclase
}


Platinum {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x80b6c0
    D:energy=1.0
    S:extra=Platinum
}


Prometheum {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x588054
    D:energy=1.0
    S:extra=Prometheum
}


Recipes {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
}


Redstone {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xffafb9
    D:energy=1.0
    S:extra=Redstone
}


Rubracium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x8d2d2d
    D:energy=1.0
    S:extra=Rubracium
}


Rutile {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xa19e93
    D:energy=1.0
    S:extra=Rutile
}


Sanguinite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xd30404
    D:energy=1.0
    S:extra=Sanguinite
}


ShadowIron {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x684e3d
    D:energy=1.0
    S:extra=ShadowIron
}


Silicon {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x1c1c29
    D:energy=1.0
    S:extra=Silicon
}


Silver {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xf0f0f0
    D:energy=1.0
    S:extra=Silver
}


Tin {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xe3d9cd
    D:energy=1.0
    S:extra=Iron
}


Tungsten {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x323232
    D:energy=1.0
    S:extra=Tungsten
}


Uranium {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xc9d348
    D:energy=1.0
    S:extra=Uranium
}


Vulcanite {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xff7a28
    D:energy=1.0
    S:extra=Vulcanite
}


Vyroxeres {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0x5ada0b
    D:energy=1.0
    S:extra=Vyroxeres
}


Zinc {
    B:EnderIO=true
    B:Factorization=true
    B:IC2=true
    B:Mekanism=true
    B:Railcraft=true
    D:chance=1.0
    S:colour=0xedf0bb
    D:energy=1.0
    S:extra=Zinc
}


