# Configuration file

general {
    # Local Players tail info. Delete to remove tail. Do not try to edit manually
    S:"Local Tail Info"={"uuid":"ab7ec078-dbf3-473a-8016-534597957b49","hastail":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"needsTextureCompile":true}
}


