# Configuration file

general {
    # How many lines you are using. Max of 3 right now.
    I:Lines=1

    # Text color - This can be Hex or MS Access ( 0xffffff / 16777215 )
    I:"Text Color"=9135158

    # This is the text that will be displayed on the main menu.
    S:"Text Line 1"=The Mechanical Titan Pack!!!!

    # Text for line 2.
    S:"Text Line 2"=** Default Line 2 **

    # Text for line 3.
    S:"Text Line 3"=** Default Line 3 **

    # Positions: 0 - Top Left corner, 1 - Top right corner, 2 - Bottom left corner, 3 - Bottom right corner.
    I:"Text Position"=0

    # Whether or not the text has a shadow.
    B:"Text Shadow"=true
}


wip {
    # Whether or not to display an icon in the top left corner of the Main Menu. NOT YET IMPLEMENTED!
    B:Icon=false
}


